html, body {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: 'Donegal One', serif;
  background: #FFEE00;
}

body {
  width: 50rem;
  position: relative;
  background: #FFEE00;
  margin: 0 auto;
  border-left: 2px solid #FF6400;
  border-right: 2px solid #FF6400;
}